#welcome_tag{
	font-size: 400%;
	font-family: sans-serif;
	color: #8B0000;
	text-align: center;
	margin-top: 5%;	
}

#all_options{
	min-width: 1268px;
	text-align: center;
	margin-top: 20px;
}
.options {
	margin: 10px;
	color: rgb(255, 255, 255);
	font-size: 20px;
	padding: 20px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: rgb(46, 184, 230);
	
	background: -moz-linear-gradient(90deg, rgb(59, 147, 30) 30%, rgb(51, 204, 51) 70%);
	background: -webkit-linear-gradient(90deg, rgb(59, 147, 30) 30%, rgb(51, 204, 51) 70%);
	background: -o-linear-gradient(90deg, rgb(59, 147, 30) 30%, rgb(51, 204, 51) 70%);
	background: -ms-linear-gradient(90deg, rgb(59, 147, 30) 30%, rgb(51, 204, 51) 70%);
	background: linear-gradient(0deg, rgb(59, 147, 30) 30%, rgb(51, 204, 51) 70%);
	
	-webkit-box-shadow: 4px 5px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 5px 4px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 5px 4px rgba(50, 50, 50, 0.75);
}

.options:active{
	color: white;

	background: rgb(0, 61, 153);
}

.options:hover{
	background: rgb(0, 102, 255);
	
	background: -moz-linear-gradient(90deg, rgb(0, 61, 153) 30%, rgb(0, 102, 255) 70%);
	background: -webkit-linear-gradient(90deg, rgb(0, 61, 153) 30%, rgb(0, 102, 255) 70%);
	background: -o-linear-gradient(90deg, rgb(0, 61, 153) 30%, rgb(0, 102, 255) 70%);
	background: -ms-linear-gradient(90deg, rgb(0, 61, 153) 30%, rgb(0, 102, 255) 70%);
	background: linear-gradient(0deg, rgb(0, 61, 153) 30%, rgb(0, 102, 255) 70%);
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);	
	
	color: white;
}