body {
	margin: 0px;
	padding: 0px;
	
	font-family: 'Roboto';
	font-size: 14px;
	background-image: url(images/pixels/block10.PNG); 
	/*color: #2B2B2B;*/
}

html{
	line-height: 0px;
}
 ul li ul{
        display: none;
    }
#mynav-wrapper.a{
	color: #FFF ;
}

.mycontainer{
	padding-top: 10px;
	padding-left: 120px;
	padding-right: 100px;
	padding-bottom: 20px;
}

tr.nospace > td
{
  padding: 0px !important;
}

ul li:hover ul{
        display: block; /* display the dropdown */
}

ul.collection{
	padding: 0px !important;
	margin: 0px !important;
}

#per_heading{
	font-size: 24px !important;
}

nav{
	background-color: #26a69a !important;
}

#mynav-wrapper{
	padding-left: 80px;
}

#login {
	width: 380px;
	height: 380px;
	margin: 2em auto;
	padding: 1em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

#register {
	width: 400px;
	height: 650px;
	margin: 2em auto;
	padding: 1em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

#disciplineId {
	padding-bottom: 10px !important;
}

#submit_button{
	padding: 5px;
}

#loghead{
	background-color: #26a69a;
	border-radius: 5px;
	color: #FFF;
	font-size: 48px;
	margin-bottom: 20px !important;
}

#addpad{
	padding: 5px;
}

#header{
	background-color: #FFF;
	border-radius: 3px;
	/*padding-top: 3px;*/
}

.nospace{
	padding-top: -5px !important;
}

#logo{
	text-align: left;
	background-color: white;	
	height: 120px;
	width: 120px;
	border-radius: 3px;
}

#college_name{
	text-align: center;
	vertical-align: middle;
	color: #000;	
	font-size: 28px;
	padding: 5px;
}

#Email_button{
	padding-top: 10px; 
}

.short_explanation a{
	font-size: 11px;
	padding-top: 35px !important;
}

#personal_info{
	width: 80%;
	text-align: center;
}

#copyright{
	position: fixed;
	bottom: 0px;
	left: 200px;
}

#exp_table{
	/*width: 80%;*/
}

#proff_table{
	padding-left: 8px;
	padding-right: 8px;
}

#pe1{
	text-align: center;
}

#pe2{
	text-align: center;
}

#pe3{
	text-align: center;
}

#pe4{
	text-align: center;
}

#acad_head{
	margin-left: 7px;
	margin-right: 7px;
}

#enclo_wrap{
	margin-left: 7px;
	margin-right: 7px;
}

#declare{
	margin-left: 30px;
	margin-right: 30px;
}

#dropdown4{
	width: 160px!important;
}